* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/wormz.png");
}

.jumbotron {
  background-image: url("../images/memphis-colorful.png");
  border: 6px solid #6AE86C;
  padding: 0 0 16px 0;
  margin: 16px 0;
  border-radius: 1.2rem;
}

.burgersListRow {
  background-image: url("../images/memphis-colorful.png");
  border: 6px solid #;
  border-radius: 1.2rem;
  margin: 0;
}

.title {
  font-family: 'Fredoka One', cursive;
  font-size: 32pt;
  line-height: 1em;
  margin: -5px 0 5px 0;
  color: #FF9C15;
}

.burgerListHead {
  text-align: center;
}

.burgerImg {
  width: 170px;
}

button, .devourBtn {
  border-radius: 2px;
  color: #ffffff;
  background-color: #6AE86C;
  border: none;
}

button:hover, .devourBtn:hover {
  background-color: #56D17B;
}
