<div class="jumbotron">
  <div class="row text-center">
    <div class="col-sm-12">
      <img src="/images/burger.png" class="burgerImg img-fluid center-block" alt="Responsive image">
      <header class="title">Eat-Da-Burger</header>
    </div>
  </div>
</div>

<div class="container burgerForm">
  <h2 class="addBurger">Add a Burger</h2>
  <form class="create-update-form" action="/" method="POST">
    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="burger_name">
    </div>
    <button type="submit">Add Burger</button>
  </form>
</div>

<div class="row burgersListRow">
  <!-- burger list start -->
  <div class="col-sm-6 burgerList" id="undevBurgers">
    <h2 class="burgerListHead">Burgers</h2>
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li class="listItem">
            <p class="burgerName">{{this.burger_name}}</p>
              <input type="button" data-id="{{this.id}}" class="devourBtn" name="devoured" value="Devour">
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <!-- burger list end -->

  <!-- devoured list start -->
  <div class="col-sm-6 burgerList" id="devBurgers">
    <h2 class="burgerListHead">Devoured</h2>
    <ul class="devouredList">
      {{#each burgers}}
        {{#if this.devoured}}
          <li class="listItem">
            <p class="burgerName">{{this.burger_name}}</p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <!-- devoured list end -->
</div>

<script type="text/javascript">

$(document).on('click', '.devourBtn', function(event) {
  console.log('Yay')
  $.ajax({
      method: 'PUT',
      url: '/' + $(event.target).data('id'),
      data: {
        'devoured': 1,
        '_method': 'PUT'
      },
      success: function (balls) {
        var $parent = $(event.target).parent();
        var newList = $parent[0].innerText;

        console.log(newList);
        $('<li>' + newList + '</li>').appendTo(".devouredList");
        $parent.remove();
      }
  });
})

</script>
